blog-datapipeline-adfv2/PartialArmTemplates/ArmTemplate_10_21_2020_11_38_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "blog-datapipeline-adfv2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/blog-datapipeline-pipeline-key')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy csv to parquet",
						"description": "Copy csv to parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "rawdata//"
							},
							{
								"name": "Destination",
								"value": "defineddata//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "csv_files_key",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "parquet_files_key",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Create graph and write CosmosDB",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy csv to parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().globalParameters.notebook_name",
								"type": "Expression"
							},
							"baseParameters": {
								"cosmosdb_name": {
									"value": "@pipeline().globalParameters.cosmosdb_name",
									"type": "Expression"
								},
								"stor_name": {
									"value": "@pipeline().globalParameters.stor_name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference",
							"parameters": {
								"workspace_id_url": "@pipeline().globalParameters.workspace_id_url",
								"cluster_id": "@pipeline().globalParameters.cluster_id",
								"vaultBaseUrl": "@pipeline().globalParameters.vaultBaseUrl"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-20T10:52:17Z"
			},
			"dependsOn": [
				"[variables('factoryId')]"
			]
		}
	]
}